@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,500;6..72,600;6..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pirata+One&display=swap');


html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: rgb(37, 40, 41);
}

#ingress {
  font-size: 2.5vw;
}

#page-header{
  height: 250px;
}

#header-image {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  object-fit: cover;
}

main {
  max-width: 75%;
  margin: 0 auto;
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.quote {
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 0;
}

.picture-text {
  margin-top: 0;
  /* margin-left: 4.5vw; */
  font-size: 80%;
}

footer {
  background-color: rgba(19, 18, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: white;
}

footer a {
  color: white;
  font-style: italic;
}

footer p {
  font-weight: 600;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: 80%;
}

footer h4 {
  margin-bottom: 0;
}

figcaption {
  font-size: 80%;
}

* {
  transition: all .2s ease-out;
}

.container {
  height: 500vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.container section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress {
  position: fixed;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: none;
}

#progress ul {
  list-style: none;
  height: 70vh;
  /* width: 60px; */
  width: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-flow: column;
  position: relative;
}

#progress ul li {
  z-index: 1;
}

#progress ul li a {
  display: block;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background: #333;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-weight: bolder;
  cursor: pointer;
}

ul .line {
  position: absolute;
  top: 40px;
  left: 66px;
  height: 0px;
  width: 10px;
  background: #ff0000;
  border-radius: 50px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;

}

.flexbox.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.flexbox1.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.textbox {
  /* width: 50%; */
  width: 100%;
  padding: 1rem;
}

.imagebox {
  width: 100%;
}

.pic {
  max-width: 100%;
}

.songs {
  width: 100%;
  padding-top: 3rem;
}

.flexbox1 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h2 {
  max-width: 90%;
  font-size: 3vw;
  padding-bottom: 2rem;
}



#video1{
  display: none;
}

#video2 {
  display: none;
}

#video3 {
  display: block;
}

/* #flex-container {
  display: flex;
  flex-direction: column;
} */



@media only screen and (min-width: 650px) {

  body {
    font-size: 18px;
  }

  main {
    max-width: 80%;
  }

  #page-header{
    height: 90vh;
  }

  #ingress {
    font-size: 1.2vw;
  }

  #progress ul {
    width: 60px;
    align-items: center;
  }

  #video2{
    display: block;
  }

  #video1 {
    display: none;
  }

  #video3 {
    display: none;
  }

  .flexbox {
    flex-direction: row;
  }

  .flexbox2 {
    flex-direction: row;
  }

  .imagebox {
    width: 50%;
  }

  .textbox {
    width: 50%;
  }
  

  .songs {
    width: 50%;
  }

  h2 {
    font-size: 2.8vw;
  }




























@media only screen and (min-width: 958px) {
  #video1{
    display: block;
  }

  #video2 {
    display: none;
  }

  #video3 {
    display: none;
  }

}